/*variables*/

:root {
  /* portfolio colors */
  --thumb-border: #0047b3;
  --thumb-font-hover: #474b52;
  --shade-color: #4d94ff;

  /* portfolio dynamic vars */
  --border-radius: 10px;
  --thumb-width: 200px;
  --thumb-height: 150px;
  --modal-width: 85%;
  --superModal-width: 85%;
  --img-height: 75px;
}

/* 24.5 x 16px = 392px */
@media screen and (min-width: 24.5rem) {
  :root {  
    --img-height: 100px;
  }
}

/* 512px */
@media screen and (min-width: 32rem) {
  :root {
    --img-height: 150px;
  }
}

/* 640px */
@media screen and (min-width: 40rem) {
  :root {
    --border-radius: 14px;
    --thumb-width: 228px;
    --thumb-height: 171px;
    --modal-width: 80%;
    --superModal-width: 80%;
    --img-height: 200px;
  }
}

/* 1600px */
@media screen and (min-width: 100rem) {
  :root {
    --border-radius: 18px;
    --thumb-width: 400px;
    --thumb-height: 150px;
    --img-height: 225px;
  }
}

/* 2400px */
@media screen and (min-width: 150rem) {
  :root {
    --border-radius: 22px;
    --thumb-width: 600px;
    --thumb-height: 450px;
    --modal-width: 60%;
    --img-height: 300px;
  }
}

p {
  margin: calc(var(--font-size-s) / 3) 0;
}

#content {
  margin-top: calc(var(--font-size-l) * 2);
}

#steveDay {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #D5F1F7;
  min-height: calc(50vh - var(--font-size-l));
}

#photoContainer {
  background: url(../jpg/steveDay.jpg) no-repeat center;
  background-size: 100% 100%;
  height: 200px; 
  width: 200px;
  border-radius: 50%;
  border: 5px solid #00A1BB;
  margin: auto 25px auto auto;
}

#info {
  font-size: var(--font-size-l);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto auto auto 25px;
}

#info div:first-child {
  font-size: calc(var(--font-size-l) * 1.5);
  color: #00A1BB;
  font-weight: 900;
}

#icons {
  display: flex;
  width: 100%;
  height: var(--font-size-l);
  margin: var(--font-size-s) 0;
}

#icons li {
  height: 100%;
  margin: auto;
}

#github {
  background: url(../svg/github.svg) no-repeat center;
}

#github:hover {
  background: url(../svg/githubHover.svg) no-repeat center;
}

#linkedIn {
  background: url(../svg/linkedIn.svg) no-repeat center;
}

#linkedIn:hover {
  background: url(../svg/linkedInHover.svg) no-repeat center;
}

#resume {
  background: url(../svg/resume.svg) no-repeat center;
}

#resume:hover {
  background: url(../svg/resumeHover.svg) no-repeat center;
}

#email {
  background: url(../svg/email.svg) no-repeat center;
}

#email:hover {
  background: url(../svg/emailHover.svg) no-repeat center;
}


#icons li div, #icons li div:hover {
  background-size: auto 100%;
  height: 100%; 
  width: calc(var(--font-size-l) * 1.8);
  cursor: pointer;
}

#story {
  text-align: center;
  font-size: var(--font-size-m);
  min-height: calc(50vh - var(--font-size-l));
  display: flex;
}

#story p {
  width: 50%;
  margin: auto;
}

/*PORTFOLIO*/

#projects {
  background-color: #D5F1F7;
  min-height: calc(100vh - var(--font-size-l) * 2);
  display: flex;
}

/* container that contains category and projects */
.examples {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.modal {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.exampleThumb {
  cursor: pointer;
  display: flex; 
  flex-direction: column;
  position: relative;
  width: var(--thumb-width);
  padding: var(--font-size-s);
  margin: var(--font-size-s);
  box-sizing: content-box;
}

.exampleThumb:hover .thumbFilter {
  display: block;
}

/* filter for hovering thumbnails */
.thumbFilter {
  position: absolute;
  background-color: #006778;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .1;
  display: none;
}

/* can't target with .exampleThumb div:firstChild here, mayhaps due to varying img size */
.imgContainer {
  width: var(--thumb-width);
  height: var(--thumb-height); 
  margin-bottom: calc(var(--font-size-s) / 5);
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

/* project title */
.title {
  font-size: var(--font-size-m);
  text-align: left;
}

/* bg shade for modal and super modal */
#modalShade, #superShade {
	display: none;
	background: #000;
  position: fixed; 
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  opacity: .3;
  z-index: 3;
}

.modal, #superModal {
  display: none;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: calc(100vh - var(--font-size-l) * 4);
  z-index: 3;
}

.modal {
  background: #D5F1F7;
  width: var(--modal-width); 
}

#superModal {
  width: var(--superModal-width);
}

/* wrapper for all modal content */
.modalWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* modal title header. first child is an empty div, that way the second gets centered */
.modalHeader {
  display: flex;
  top: 0;
  background: #00A1BB;
  color: #D5F1F7;
  width: 100%;
  justify-content: space-between;
  flex: 1 1 calc(var(--font-size-l) * 1.5);
  border-radius: calc(var(--border-radius) / 1.7) 
                  calc(var(--border-radius) / 1.7) 
                  0 0;
  font-size: var(--font-size-l);
}

.modalHeader div:first-child {
  margin-left: 1%;
  width: var(--font-size-s);
  height: 100%;
}

.modalHeader div {
  margin: auto calc(var(--font-size-l) / 3) auto 0;
}

/* we want the modal body to scroll, but not the title */
.modalBody {
  font-size: var(--font-size-s);
  overflow: auto;
  height: 100%;
}

/* list of technologies used for each project */
.technologies {
  text-align: left;
  font-style: italic;
}

/* first paragraph under technologies */
.summary {
  text-align: center;
  margin: var(--font-size-s) 10% var(--font-size-s) 10%;
}

/*energizer images will be 4 in a row or 2x2 depending space available*/
#energizers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#energizers > div {
  display: flex;
}

#energizers > div > div {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 10px;
}

#energizers > div > div > img, .exampleImg img{
  height: var(--img-height);
}

/* sentence above each thumbnail inside project modal */
.biggerMargin {
  margin-top: var(--font-size-l);
  margin-bottom: calc(var(--font-size-l) / 2);
}

.thumbnail {
  cursor: pointer;
}

/* x for modal and super modal */
.close, #superClose {
  background: url(../svg/close.svg) no-repeat center;
  cursor: pointer;
}

.close {
  margin-right: 1%;
}

.close:hover, #superClose:hover, #superCloseWrap:hover > #superClose {
  background: url(../svg/closeHover.svg) no-repeat center;
}

.close, #superClose, .close:hover, #superClose:hover, #superCloseWrap:hover #superClose {
  background-size: auto 100%;
  height: var(--font-size-xs);
  width: var(--font-size-xs);
}

/* will be sized with js. */
#superModalImgWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* super modal x wrapper, to give it padding. position to the upper right of image */
#superCloseWrap {
  position: absolute;
  top: calc(var(--font-size-s) * -1.5);
  right: calc(var(--font-size-s) * -1.5);
  padding: calc(var(--font-size-s) / 4);
  background-color: #000000;
  cursor: pointer;
}

/* stretch image to super modal image wrapper */
#superModalImg img {
  width: 100%;
  height: 100%;
}