:root {
  /* font size dynamic vars */
  --font-size-xxs: 1rem;
  --font-size-xs: 1.05rem;
  --font-size-s: 1.1rem;
  --font-size-m: 1.15rem;
  --font-size-l: 1.2rem;

  /* page colors */
  --base-color: #f8f8f8;
  --accent1-color: #f0f0f0;
  --accent2-color: #fffdfa;
  --accent3-color: #464646;
  --navbar-text-color: #767575;
  --button-color: #3784aa;
  --success-color: #0caa30;
  --error-color: #f74356;

  /* NAVBAR dynamic var */
  --pages-margin-right: auto;

  /* ABOUT dynamic vars */
  --photo-diameter: 110px;
  --photo-border: 5px;
  --info-margin: 2px;
  --story-width: 80%;

  /* PROJECTS dynamic vars */
  --thumb-width: 200px;
  --thumb-height: 75px;
  --modal-width: 85%;
  --modal-example-direction: column;
  --modal-example-justify: center;
  --modal-example-padding: 0;
  --modal-example-text-margin-right: 16px;
  --modal-example-text-margin-bottom: 8px;
  --modal-example-text-margin-left: 16px;
  --modal-example-text-align: center;
  --modal-img-height: 100px;
  --superModal-width: 82%;

  /* CONTACT dynamic var */
  --form-width: 250px;
}

/* 23.5 x 16px = 376px */
@media screen and (min-width: 23.5rem) {
  :root {
    --photo-diameter: 150px;
    --info-margin: 10px;

    --thumb-width: 304px;
    --thumb-height: 114px;
    --modal-width: 88%;
    --modal-img-height: 120px;
    --superModal-width: 85%;

    --form-width: 326px;
  }
}

/* 416px */
@media screen and (min-width: 26rem) {
  :root {
    --photo-diameter: 200px;

    --thumb-width: 304px;
    --thumb-height: 114px;
    --modal-img-height: 140px;

    --form-width: 366px;
  }
}

/* 560px */
@media screen and (min-width: 35rem) {
  :root {
    --font-size-s: 1.2rem;
    --font-size-m: 1.4rem;
    --font-size-l: 1.8rem;

    --photo-border: 6px;
    --info-margin: 15px;

    --thumb-width: 352px;
    --thumb-height: 132px;
    --modal-img-height: 180px;

    --form-width: 400px;
  }
}

/* 720px */
@media screen and (min-width: 45rem) {
  :root {
    --modal-example-direction: row;
    --modal-example-justify: space-between;
    --modal-example-padding: 5%;
    --modal-example-text-margin-right: 50px;
    --modal-example-text-margin-bottom: auto;
    --modal-example-text-margin-left: 0;
    --modal-example-text-align: left;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  :root {
    --pages-margin-right: 0;

    --modal-example-padding: 15%;
  }
}

/* 1280px */
@media screen and (min-width: 80rem) {
  :root {
    --info-margin: 20px;

    --info-margin: 20px;
    --story-width: 50%;

    --thumb-width: 464px;
    --thumb-height: 174px;
    --modal-width: 75%;
    --superModal-width: 80%;
  }
}

/* 1616px */
@media screen and (min-width: 101rem) {
  :root {
    --font-size-xs: 1.1rem;
    --font-size-s: 1.3rem;
    --font-size-m: 1.5rem;
    --font-size-l: 1.9rem;

    --info-margin: 25px;

    --thumb-width: 504px;
    --thumb-height: 189px;
    --modal-img-height: 275px;
  }
}

/* 1784px */
@media screen and (min-width: 111.5rem) {
  :root {
    --photo-diameter: 275px;
    --info-margin: 30px;

    --thumb-width: 600px;
    --thumb-height: 225px;
    --modal-img-height: 300px;
  }
}

/* 1920px */
@media screen and (min-width: 120rem) {
  :root {
    --font-size-xs: 1.2rem;
    --font-size-s: 1.4rem;
    --font-size-m: 1.6rem;
    --font-size-l: 2rem;

    --thumb-width: 704px;
    --thumb-height: 264px;
  }
}

/* 2400px */
@media screen and (min-width: 150rem) {
  :root {
    --font-size-xxs: 1.4rem;
    --font-size-xs: 1.5rem;
    --font-size-s: 1.7rem;
    --font-size-m: 2rem;
    --font-size-l: 2.6rem;

    --photo-diameter: 300px;
    --photo-border: 9px;
    --info-margin: 40px;

    --thumb-width: 808px;
    --thumb-height: 303px;
    --modal-img-height: 350px;

    --form-width: 500px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

/* had to set body position to relative to disable background scrolling 
with pop-up modals on mobile. with it set to relative, it's positioned 
under navbar */
body {
  background-color: var(--accent2-color);
  width: 100%;
  height: 100%;
  position: relative;
}

/* NAVBAR */

nav {
  top: 0;
  height: calc(var(--font-size-l) * 2);
  display: flex;
  width: 100%;
  position: fixed;
  background-color: var(--base-color);
  z-index: 2;
  border-bottom: 1px solid var(--accent3-color);
}

/* nav links */
ul {
  list-style: none;
}

#pages {
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: var(--pages-margin-right);
  top: var(--pages-top);
}

#pages li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--navbar-text-color);
  font-size: var(--font-size-m);
}

#pages span {
  padding: 0 var(--font-size-m);
}

.currentPage {
  border-top: 5px solid var(--base-color);
  border-bottom: 5px solid var(--error-color);
}

#pages li a:hover {
  color: var(--accent3-color);
}

/* content */
main {
  margin-top: calc(var(--font-size-l) * 2);
}

/* ABOUT */

/* top section */
#steveDay {
  display: flex;
  background-color: var(--accent1-color);
  min-height: calc(50vh - var(--font-size-l));
  padding: var(--font-size-l) 0;
  color: var(--accent3-color);
}

#photoContainer {
  background: url(../jpg/steveDay.jpg) no-repeat center;
  background-size: 100% 100%;
  height: var(--photo-diameter);
  width: var(--photo-diameter);
  border-radius: 50%;
  border: var(--photo-border) solid var(--accent3-color);
  margin: auto var(--info-margin) auto auto;
}

#info {
  height: var(--photo-diameter);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: auto auto auto var(--info-margin);
}

#info > div:first-child {
  font-size: calc(var(--font-size-l) * 1.5);
  font-weight: 900;
  line-height: 1;
}

#info > div:nth-child(2) {
  font-size: var(--font-size-l);
  line-height: 1;
}

#icons {
  display: flex;
  width: 100%;
  height: calc(var(--font-size-l) * 1.5);
}

#icons li {
  margin: auto;
}

#github {
  background: url(../svg/github.svg) no-repeat center;
}

#github:hover {
  background: url(../svg/githubHover.svg) no-repeat center;
}

#linkedIn {
  background: url(../svg/linkedIn.svg) no-repeat center;
}

#linkedIn:hover {
  background: url(../svg/linkedInHover.svg) no-repeat center;
}

#resume {
  background: url(../svg/resume.svg) no-repeat center;
}

#resume:hover {
  background: url(../svg/resumeHover.svg) no-repeat center;
}

#email {
  background: url(../svg/email.svg) no-repeat center;
}

#email:hover {
  background: url(../svg/emailHover.svg) no-repeat center;
}

#icons li div,
#icons li div:hover {
  background-size: auto 100%;
  height: var(--font-size-l);
  width: calc(var(--font-size-l) * 1.8);
  cursor: pointer;
}

/* bottom section */
#story {
  text-align: center;
  font-size: var(--font-size-m);
  min-height: calc(50vh - var(--font-size-l));
  display: flex;
  padding: var(--font-size-l) 0;
}

#story p {
  width: var(--story-width);
  margin: auto;
}

.newGames {
  text-decoration-line: underline;
  color: blue;
  cursor: pointer;
}

#newGames {
  display: none;
}

/* PROJECTS */

/* projects and contact sections */
#projects,
#contact {
  min-height: calc(100vh - var(--font-size-l) * 2);
  display: flex;
  padding: var(--font-size-l) 0;
}

#projects {
  background-color: var(--accent1-color);
}

/* container for all projects */
.examples {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* container for each project */
.exampleThumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: var(--thumb-width);
  padding: var(--font-size-s);
  margin: var(--font-size-s);
  box-sizing: content-box;
  text-align: left;
  background-color: var(--accent2-color);
  font-size: var(--font-size-xs);
}

/* filter displayed when hovering over projects */
.thumbFilter {
  position: absolute;
  background-color: #faf682;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 150ms linear;
}

.exampleThumb:hover .thumbFilter {
  opacity: 0.1;
}

/* image at top of each project container */
.exampleThumb img {
  width: var(--thumb-width);
  height: var(--thumb-height);
}

/* project title, technologies used */
.title,
.technologies {
  margin: calc(var(--font-size-s) / 3) 0;
}

.title {
  font-size: var(--font-size-m);
}

.technologies {
  font-size: var(--font-size-xxs);
  font-style: italic;
}

/* project description */
.exampleThumb > div:nth-child(5) {
  margin: calc(var(--font-size-s) / 3) 0 var(--font-size-l);
}

/* container for project buttons */
.projectLinks {
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* buttons inside project containers and contact form */
.button,
button {
  background-color: var(--button-color);
  color: var(--accent1-color);
  border: none;
  font-size: var(--font-size-s);
  cursor: pointer;
  transition: all 150ms linear;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 150px;
  margin: 8px;
}

/* input from contact form joins in... */
.button,
input,
button {
  height: calc(var(--font-size-l) * 1.25);
}

/* and now with the textarea */
.button,
input,
textarea,
button {
  border-radius: 6px;
}

/* button transitions */
.button:hover,
button:hover {
  transform: translate(2px, 2px);
  opacity: 0.8;
}

.button:active,
button:active {
  transform: translate(2px, 4px);
}

/* bg shade for modal and super modal */
#modalShade,
#superShade {
  display: none;
  background: var(--accent3-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 2;
}

/* project modals, and the modals that display over them. positioned to top. 
because the body is relative, it's positioned under the navbar. height of 
both elements re-adjusted with js for mobile browsers (mobile chrome/safari 
includes address bar in vh measurement) */
.modal,
#superModal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto auto auto;
  height: calc(100vh - var(--font-size-l) * 4);
  z-index: 2;
}

.modal {
  background-color: var(--accent1-color);
  width: var(--modal-width);
}

#superModal {
  width: var(--superModal-width);
}

/* wrapper for all project modal content */
.modalWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* project modal title bar. first child inside is an empty div, 
that way the second (the title) gets centered and the third 
(the close 'X') gets pushed to the end */
.modalHeader {
  display: flex;
  top: 0;
  background-color: var(--base-color);
  width: 100%;
  justify-content: space-between;
  flex: 1 1 calc(var(--font-size-l) * 1.5);
  font-size: var(--font-size-l);
}

.modalHeader div:first-child {
  width: var(--font-size-xs);
  height: var(--font-size-xs);
}

.modalHeader div {
  margin: auto 1%;
}

/* we want the modal content to scroll, but not the title bar */
.modalBody {
  font-size: var(--font-size-xs);
  overflow: auto;
  height: 100%;
}

/* top paragraph of each project modal */
.summary {
  text-align: center;
  margin: 0 auto;
  width: var(--modal-width);
  padding: var(--font-size-xs);
  font-size: var(--font-size-s);
}

/* wrapper for each text and photo section inside project modal */
.exampleWrap {
  display: flex;
  flex-direction: var(--modal-example-direction);
  justify-content: var(--modal-example-justify);
  align-items: center;
  width: 100%;
  padding: var(--font-size-xs) var(--modal-example-padding);
}

/* text for these sections */
.exampleText {
  margin: auto var(--modal-example-text-margin-right)
    var(--modal-example-text-margin-bottom)
    var(--modal-example-text-margin-left);
  text-align: var(--modal-example-text-align);
}

/* vertically center img inside container */
.exampleImg {
  display: flex;
}

.exampleImg img {
  margin: auto;
}

/* every other section has the accent2 color */
.accent2 {
  background-color: var(--accent2-color);
}

/* section for pac-mental energizers */
#energizersWrap {
  text-align: center;
  padding: var(--font-size-xs) 0;
}

#energizersText {
  margin: auto var(--modal-example-text-margin-right) auto
    var(--modal-example-text-margin-right);
}

/* wrap for energizer gifs */
#energizers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* energizer images will be 4 in a row or 2 x 2 depending space on available.
an unnamed div is wrapped around the first two energizers, and another around the last two,
so it will only break in the middle of the row */
#energizers > div {
  display: flex;
}

/* second nested unnamed div contains the energizer gif and name */
#energizers > div > div {
  display: flex;
  flex-direction: column;
  margin: 8px 8px 0 8px;
}

/* all gifs and images inside the project modals */
.thumbnail {
  height: var(--modal-img-height);
  cursor: pointer;
}

/* close 'X' for modal and super modal */
.close,
#superClose {
  background: url(../svg/close.svg) no-repeat center;
  cursor: pointer;
}

.close:hover,
#superClose:hover,
#superCloseWrap:hover > #superClose {
  background: url(../svg/closeHover.svg) no-repeat center;
}

.close,
#superClose,
.close:hover,
#superClose:hover,
#superCloseWrap:hover #superClose {
  background-size: auto 100%;
  height: var(--font-size-xs);
  width: var(--font-size-xs);
}

/* wrap for gif/img modal. sized with js */
#superModalImgWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* super modal close 'X' wrapper, to give it padding. positioned to the upper right of image */
#superCloseWrap {
  position: absolute;
  top: calc(var(--font-size-s) * -1.5);
  right: calc(var(--font-size-s) * -1.5);
  padding: calc(var(--font-size-s) / 4);
  background-color: #000;
  cursor: pointer;
}

/* stretch image to super modal image wrapper */
#superModalImg img {
  width: 100%;
  height: 100%;
}

/* CONTACT */

/* section container */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* send me a message! */
#requestMessage {
  font-size: var(--font-size-l);
  font-weight: 700;
  margin-bottom: var(--font-size-l);
}

#contactForm {
  width: var(--form-width);
}

.field {
  display: flex;
  flex-direction: column;
  margin: calc(var(--font-size-xs) / 2) 0;
}

label {
  font-weight: 700;
  margin: calc(var(--font-size-xs) / 5) 0;
}

label,
input,
textarea {
  font-size: var(--font-size-xs);
}

input,
textarea {
  padding: calc(var(--font-size-xs) / 2);
  border: 2px solid var(--accent1-color);
}

textarea {
  resize: vertical;
}

:required:valid {
  border: 2px solid var(--success-color);
}

:required:invalid {
  border: 2px solid var(--error-color);
  box-shadow: none;
}

/* container for success/error text */
#status {
  text-align: center;
}

.success {
  font-weight: 700;
  color: var(--success-color);
}

.error {
  font-weight: 700;
  color: var(--error-color);
}

/* FOOTER */

footer {
  height: calc(var(--font-size-l) * 2);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--accent3-color);
  color: var(--accent2-color);
  font-size: var(--font-size-s);
}
