* { 
    padding: 0; 
    margin: 0;
}

body{
    background-image: url('../images/dust_scratches.png');
    width: 100%;
}

header{
    background-color: #ffffff;
    height:  80px;
    border-bottom: 3px solid #cccccc;
}

#headerWrapper{
    left: 0; 
    right: 0;
    margin: auto;
    text-align: center;
    width: 960px;
    line-height: 80px;
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
}

#name{
    float: left;
    padding: 0 30px;
    background-color: #4aaaa5;
    color: #ffffff;
}

nav{
    float: right;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav span a, #contentMain, footer{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav span a, #contentMain{
    color: #777777;
}

nav span a{
    text-decoration: none;
}

nav span a:hover{
    cursor: pointer;
    color: #000000;
}

#headerWrapper::after{
    content: "";
    display: block;
    clear: both;
}

#middleNavSpan{
    margin: 0 20px;
    padding: 0 20px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#contentWrapper{
    width: 960px;
    margin: 30px auto 60px auto;
    min-height: calc(100vh - 263px);
}

#content{
    width: 556px;
    left: 0; 
    background-color: #ffffff;
    padding: 30px;
    border: 2px solid #dddddd;
}

#contentHeader{
    color: #4aaaa5;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #dddddd;
}

#theStevester{
    float: left;
    margin-right: 20px;
}

#fruityPebbles{
    background: url(../images/fruitypebbles.png);
    background-repeat: no-repeat;
}

#fruityPebbles, #theRealStevester{
    margin-right: 44px;
}

#fruityPebbles, #pacMental, #theRealStevester, #reagan{
    margin-bottom: 30px;
}

#pacMental{
    background: url(../images/pacmental.png);
    background-repeat: no-repeat;
}

#theRealStevester{
    background: url(../images/thestevester.jpg);
    background-repeat: no-repeat;
}

#reagan{
    background: url(../images/reagan.jpg);
    background-repeat: no-repeat;
}

#breakingBad{
    background: url(../images/bbAssessment.jpg);
    background-repeat: no-repeat;
}

#fruityPebbles, #pacMental, #theRealStevester, #reagan, #breakingBad{
    background-size: 250px;
    width: 250px;
    height: 280px;
    background-color: #000000;
}

.portBox{ 
    float: left;
    position: relative;
    border: 3px solid #cccccc;
    border-radius: 50px; 
    opacity: .5;
}

.portBox:hover{
    opacity: 1;
    cursor: pointer;
}

.portFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px;   
    color: #ffffff;
    text-align: center;
}

#contentMain::after {
    content: "";
    display: block;
    clear: both;
}

footer{
    line-height: 80px;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    color: #ffffff;
    text-align: center;
}

.inputField {
    padding: 10px;
    width: 536px;
    margin: 5px 0 20px 0;
}

#submit{
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
}

@media only screen and (max-width: 980px) {
    #headerWrapper{
        width: 750px;
        line-height: 80px;
        background-color: #ffffff;
        border-bottom: 3px solid #cccccc;
    }

    #contentWrapper{
        width: 750px;
    }
}

@media only screen and (max-width: 768px) {
    #headerWrapper{
        width: 620px;
        line-height: 80px;
        background-color: #ffffff;
        border-bottom: 3px solid #cccccc;
    }

    #contentWrapper{
        width: 620px;
    }

    #content{
        right: 0;
        margin: auto;
    }
}

@media only screen and (max-width: 640px) {
    header{
        height: 140px;
    }

    #headerWrapper{
        width: 100%;
        border: none;
    }

    #name{
        line-height: 80px;
        padding: 0;
        float: none;
    }

    nav{
        float: none;
        line-height: 60px;
        background-color: #ffffff; 
        border-bottom: 3px solid #cccccc;
    }

    #contentWrapper{
        width: 100%;
    }

    #content{
        width: 400px;
        left: 0; 
        right: 0;
        margin: auto;
    }

    #theStevester{
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #fruityPebbles, #pacMental, #theRealStevester, #reagan, #breakingBad{
        background-size: 400px;
        width: 400px;
        height: 430px;
        background-color: #000000;
    }

    #fruityPebbles, #reagan{
        margin-right: 0;
    }

    #theRealStevester{
        margin-bottom: 30px;
    }

    .inputField {
        width: 380px;
    }
}
